.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@font-face {
    font-family: "Work Sans";
    src: url("assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
}

body { 
    background-color: hsl(275, 100%, 97%);
    background-image: url("assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    font-size: 16px;
}

main {
    margin: 30vh auto 0 auto;
    width: 80%;
    background-color: white;
    max-width: 30vw;
    padding: 10px;
    border-radius: 12px;
    font-family: "Work Sans", sans-serif;
}

header {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    font-size: 1.5rem;
    margin: 20px 0;
}

h1 {
    margin: 0;
}

summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {

    content: url("assets/images/icon-plus.svg")
}