.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@font-face {
    font-family: "Work Sans";
    src: url("assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
}

body { 
    background-color: hsl(275, 100%, 97%);
    background-image: url("assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    font-size: 16px;
    color: hsl(292, 42%, 14%);
}

main {
    margin: 30vh auto 0 auto;
    width: 80%;
    background-color: white;
    max-width: 28vw;
    padding: 20px;
    border-radius: 12px;
    font-family: "Work Sans", sans-serif;
}

header {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    font-size: 1.5rem;
    margin: 20px 0;
}

h1 {
    margin: 0;
}

summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: hsl(292, 42%, 14%);
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: url("assets/images/icon-plus.svg")
}

details[open] summary::after {
    content: url("assets/images/icon-minus.svg")
}

details {
    color: hsl(292, 16%, 49%);
    padding: 20px 0 5px 0;
    border-top: 2px solid hsl(0,0%, 95%);
}

details:first-of-type {
    border-top: 0 solid black;
}

@media screen and (max-width: 480px) {
    main {
        margin: 15vh auto 0 auto;
        width: 100%;
        max-width: 70vw;
    }

    body {
        background-size: 150% auto;
    }

    header {
        font-size: 1.2em;
        margin: 10px 0;
    }

    header > img {
        width: 10%;
        height: auto;
    }
}